# データの永続化
## SQlite
#軽量データベースを実装するc言語のライブラリ
#サーバー用のプロセスを必要としない、組み込み型のデータベースエンジン
#単一のファイルによって管理される

In [2]:
import sqlite3

In [3]:
#DBファイルの保存先パス
path = ''

#Google Colabmの場合
#path = '/content/'

#DBファイル
db_name = 'test.db'

#DB接続の確率
#DBファイルが存在しない場合は新規作成される
conn = sqlite3.connect(path + db_name)

#DBへの接続を閉じる
conn.close()

## こういうデータベースを作成してみる

car.db
| id | name | price |
| - | - | - |
|  |  |  |
|  |  |  |
|  |  |  |

### DB（SQLite）を使う時の処理の流れ

1. DBへのコネクションを確立
2. コネクションオブジェクトからデータ操作用のカーソルオブジェクトを取得
3. 実行したいSQLを定義
4. SQLを実行
5. 必要があればコミットする
6. コネクションを閉じる

## テーブルを作成

In [ ]:
path = ''
db_name = 'car.db'
try:
    #DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    #SQL(RDBを操作するための言語)カーソルオブジェクトを取得
    cur = conn.cursor()

    #SQL文の作成
    #テーブルの作成
    sql = 'create table cars (id INT, name INT, price REALL);'

    #sql文の実行
    cur.execute(sql)

except sqlite3.Error as e:
    print("エラーが発生しました",e)

finally:
    #DBへの接続を閉じる
    conn.close()

### データをDBに挿入する(単一レコード)

In [9]:
path = ''
db_name = 'car.db'

try:
    #DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    #SQL(RDBを操作するための言語)カーソルオブジェクトを取得
    cur = conn.cursor()

    #SQL文の作成
    #データの挿入
    sql = "INSERT INTO cars(id, name, price)VALUES (1,'370z', 7000000);"

    #sql文の実行
    cur.execute(sql)

    #変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました',e)

finally:
    #DBへの接続を閉じる
    conn.close()

### データをDBに挿入する(複数レコード)

In [10]:
path = ''
db_name = 'car.db'

try:
    #DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    #SQL(RDBを操作するための言語)カーソルオブジェクトを取得
    cur = conn.cursor()

    #SQL文の作成
    #複数レコードの挿入
    #INSERT INTO テーブル名 VALUES (列に対応したプレースホルダーをカンマ区切りで)
    sql = "INSERT INTO cars(id, name, price)VALUES (?,?,?);"

    cars = [
        (2, 'AE86',3000000),
        (3,'P1',7000000),
        (4,'Vulcan',9000000)
    ]

    #sql文の実行
    cur.executemany(sql, cars)

    #変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました',e)

finally:
    #DBへの接続を閉じる
    conn.close()

### DB内のデータを参照する

In [11]:
path = ''
db_name = 'car.db'

try:
    #DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    #SQL(RDBを操作するための言語)カーソルオブジェクトを取得
    cur = conn.cursor()

    #データを参照するSQL
    #SELECT * FROM テーブル名;
    # *の部分は取得したい列の名前を区切りで指定することもできる
    sql = "SELECT * FROM cars;"

    #sql文の実行
    cur.execute(sql)

    #変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました',e)

else:
    #for row in で列ごとにデータを取得できる
    for row in cur:
        id, name, price = row
        print(id,name,price)

finally:
    #DBへの接続を閉じる
    conn.close()

1 370z 7000000.0
1 370z 7000000.0
1 370z 7000000.0
1 370z 7000000.0
2 AE86 3000000.0
3 P1 7000000.0
4 Vulcan 9000000.0

## データの削除

In [ ]:
path = ''
db_name = 'car.db'

try:
    #DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    #SQL(RDBを操作するための言語)カーソルオブジェクトを取得
    cur = conn.cursor()

    #データを削除するSQL
    #DELETE FROM テーブル名 WHERE id = 1;
    
    sql = "DELETE FROM cars WHERE id = 1;"
    #名前で削除
    # sql = "DELETE FROM cars WHERE name = AE86;"
    # 末尾が86のものを削除
    # sql = "DELETE FROM cars WHERE name like %86;"

    #sql文の実行
    cur.execute(sql)

    #変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました',e)

finally:
    #DBへの接続を閉じる
    conn.close()

## データの更新

In [14]:
path = ''
db_name = 'car.db'

try:
    #DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    #SQL(RDBを操作するための言語)カーソルオブジェクトを取得
    cur = conn.cursor()

    #データを更新するSQL
    #UPDATE テーブル名 カラム名=更新値　WHERE 更新したい行を指定する条件;
    
    sql_UPDATE = "UPDATE cars SET price = ? WHERE id =?;"

    #sql文の実行
    #idが2のものを値段を6000000に変更
    cur.execute(sql_UPDATE,(6000000,2))

    #変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました',e)

finally:
    #DBへの接続を閉じる
    conn.close()